/Conversao/nbproject/private/
/Conversao/build/
/ExemploEntrada/nbproject/private/
/ExemploEntrada/build/
/ProjetoAcampamentos/nbproject/private/
/ProjetoAcampamentos/build/
/ProjetoComputador2208/nbproject/private/
/ProjetoComputador2208/build/
/ProjetoContas2208/nbproject/private/
/ProjetoContas2208/build/